body {
    margin: 50px;
}

h1 {
    text-align: center;
}

.vis-container {
    width: 100%;
    position: relative;
}
.edge {
    stroke: darkgray;
    fill: none;
}
.node {
    fill: yellow;
    stroke: darkgray;
    stroke-width: 2px;
}
div.tooltip {
    position: absolute;
    background-color: white;
    width: 250px;
    height: auto;
    padding: 1px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    pointer-events: none;
    color: black;
}

.row_label, .col_label {
    font-weight:bold;
}