body {
  margin: 30px;
  font-family: 'Pangolin', cursive;
  font-weight: lighter;
  font-size: 21px;
  background-color: lightgrey;
  /* comic book style dotted background adapted from: https://codepen.io/ashandrien/pen/rnzsd */
  background-image: radial-gradient(ellipse farthest-corner, transparent 0%, transparent 35%, #fff 30%, #fff 40%, transparent 90%), radial-gradient(ellipse farthest-corner at 0px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 8px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 0px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 40%), radial-gradient(ellipse farthest-corner at 8px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), linear-gradient(40deg, darkgrey 0, lightgrey 30%, lightgray 50%, lightgrey 70%, grey 100%);
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
}


div.section {
  margin-bottom: 50px;
  opacity: 0.9;
}


h1, .h1 {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 80px;
}

h2, .h2 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
}

h3, .h3 {
  text-align: center;
  font-size: 50px;
  font-family: 'Staatliches', cursive;
  margin-bottom: 20px;
}

h4, .h4 {
  text-align: center;
  font-family: 'Bangers', cursive;
}

.vis-container {
  width: 100%;
  position: relative;
}

#endgame-poster {
  box-shadow: 10px 10px 5px grey;

  -webkit-transform:rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.global-background {
  /* background-image: url("../img/other/global.jpg"); */
  background-image: url("../img/other/global3.png");
  background-size: 100%;
}


.characters-background {
  background-image: url("../img/other/mcu_all_80.jpg");
  background-size: 100% 100%;
  /* background-image: url("../img/marvel_characters_80.jpg"); */
}
.captain-america-background {
  background-image: url("../img/other/captain_america_80.jpg");
  background-size: 100% 100%;
}

.conclusion-background {
  background-image: url("../img/other/marvel_characters_80.jpg");
  background-size: 100% 100%;
}


/* for title */
.bubble-path {
  fill: white;
  stroke: #000;
  stroke-width: 3px;
}

.icon-path {
  fill: none;
  stroke: none;
}

select {
  font-size: 15px;
}

/*** Network ***/
.edge {
  stroke: darkgray;
  fill: none;
}

.node {
  fill: white;
  stroke: darkgray;
  stroke-width: 2px;
}
.annotation {
  font-size: 11px;
}

div.tooltip {
  position: absolute;
  background-color: white;
  width: auto;
  height: auto;
  padding: 10px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
  pointer-events: none;
  color: black;
  font-family: 'Pangolin', cursive;
}

.profile {
  text-align: center;
  margin-top: 30px;
}

.name {
  font-weight: bold;
}

.row_label, .col_label {
  font-weight: bold;
  font-family: 'Acme', cursive;
}

.genre-label {
  font-size: 15px;
  font-family: 'Acme', cursive;
}

.movie-name {
  font-family: 'Bangers';
  font-size: 30px;
}

/* comic book box feel
code adapted from: https://codemyui.com/comicbook-inspired-hand-drawn-borders/
*/
.box {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 1200px;
  max-height: 700px;
  padding: 50px;
  background: #fff;
  border: solid black;
  border-color: black;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 2% 95%/95% 4% 92% 5%;
  /* transform: rotate(-2deg);*/
}

.box2 {
  border-width: 5px 3px 4px 5px;
  border-radius: 8% 4% 1% 5%/4% 50% 3% 2%;
}

.white {
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

.brain {
  background-color: red;

}

.mapPath {
  paint-order: stroke fill;
  stroke-width: 1.8;
  stroke: white;
}

/* plot flow */
.rect-film {
  fill: none;
  stroke: black;
}
.film-title {
  fill: black;
  font-size: 9px;
  alignment-baseline: middle;
  text-anchor: middle;
  font-family: Roboto;
}
.arrow {
  stroke: black;
  fill: none;
}

/* character colors */
.iron-man {
  color: #E30022;
}
.black-widow {
  color: #000000;
}
.hulk {
  color: #A2CD48;
}


/* #################### */
/* for vis2: line chart */

.visTitle {
  font-family: "Acme", cursive;
  font-size: 23px;
}

.xAxis, .yAxis {
  font-family: 'Pangolin', cursive;
  font-size: 15px;
}

.lineDC {
  fill: none;
  stroke: #0476F2;
  stroke-width: 2px;
}

.lineDC-circle {
fill: #0476F2;
}

.horizontal-DCline {
  opacity: 0.5;
}

.lineMarvel {
fill: none;
stroke: #e23636;
stroke-width: 2px;
}

.lineMarvel-circle {
fill: #e23636;
}

.linechart-annotation {
  font-size: 11px;
  fill: grey;
}

/* tooltip css style from CS171 hw5 codes */
.tooltip-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  color: #fff;
  border-radius: 2px;
  font-size: 15px;

}


.d3-tipMarvel {
  background: rgba(226, 54, 54, 0.8);
}

.d3-tipDC {
  background: rgba(4, 118, 242, 0.8);
}

/* Creates a small triangle extender for the tooltip */
.d3-tipDC:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(4, 118, 242, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}


/* Creates a small triangle extender for the tooltip */
.d3-tipMarvel:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(226, 54, 54, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}





/** Image stuff **/
.half-height {
  display: inline-block;
  height: 400px;
  overflow: hidden;
  width:100%;
}
.img-max-height {
  width: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.stars-imdb {
  position: absolute;
  top: 140px;
  right: -770px;
  color: #F7BC06;
}

.stars-meta {
  position: absolute;
  top: 130px;
  right: -770px;
  color: #F7BC06;
}

.text0, .text1, .text2 {
  fill: black;
  font-size: 9px;
  alignment-baseline: middle;
  text-anchor: middle;
  font-family: Roboto;
}

/*** MATRIX ***/
.no-power {
  fill: darkgrey;
}
.yes-power {
  fill: dodgerblue;
}
.row_label {
  font-size: 9px;
}

/*** Stats Meters ***/
.arc {
  stroke: black;
  stroke-width: 2px;
}
.arc.background {
  fill: none;
}
.arc.foreground {
  fill: #A2CD48;
}
.char-title {
  font-size: 20px;
}

.char-stats-img {
  outline: 3px solid black;
}



/* map carousel css */
/* help from: https://stackoverflow.com/a/51610615 */

.posterContainer {
  position: relative;
  top: -280px;
  margin: 0px;
}
.poster {
  height: 180px;
  box-shadow: 5px 5px 5px grey;
}

.carousel-control-prev {
  left: -3%;
}
.carousel-control-next{
  right: -3%;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 200px;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}


.carousel-indicators li {
  width: 10px;
  height: 10px;
  background: grey;
  border-radius: 100%;
}

ol.carousel-indicators li.active {
  background: black;
  width: 15px;
  height: 15px;

}