body {
  margin: 30px;
  font-family: 'Pangolin', cursive;
  font-weight: lighter;
  font-size: 21px;
  background-color: lightgrey;
  /* comic book style dotted background adapted from: https://codepen.io/ashandrien/pen/rnzsd */
  background-image: radial-gradient(ellipse farthest-corner, transparent 0%, transparent 35%, #fff 30%, #fff 40%, transparent 90%), radial-gradient(ellipse farthest-corner at 0px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 8px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 0px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 40%), radial-gradient(ellipse farthest-corner at 8px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), linear-gradient(40deg, darkgrey 0, lightgrey 30%, lightgray 50%, lightgrey 70%, grey 100%);
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
}


div.section {
  margin-bottom: 50px;
}


h1 {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 80px;
}

h2 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
}

h3 {
  text-align: center;
  font-size: 50px;
  font-family: 'Staatliches', cursive;
  margin: 10px;
}

h4 {
  text-align: center;
  font-family: 'Bangers', cursive;
}

.vis-container {
  width: 100%;
  position: relative;
}

.legend {

}

select {
  font-size: 15px;
}


.lineDC {
    fill: none;
    stroke: #0476F2;
    stroke-width: 2px;
  }

.lineMarvel {
fill: none;
stroke: #e23636;
stroke-width: 2px;
}

.edge {
  stroke: darkgray;
  fill: none;
}

.node {
  fill: white;
  stroke: darkgray;
  stroke-width: 2px;
}

div.tooltip {
  position: absolute;
  background-color: white;
  width: 250px;
  height: auto;
  padding: 10px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
  pointer-events: none;
  color: black;
  font-family: 'Pangolin', cursive;
}

.profile {
  text-align: center;
  margin-top: 30px;
}

.name {
  font-weight: bold;
}

.row_label, .col_label {
  font-weight: bold;
  font-size: 15px;
  font-family: 'Acme', cursive;
}

.visTitle {
    font-family: "Pangolin", cursive;
}

.xAxis, .yAxis {
    font-family: 'Pangolin', cursive;
}


/* comic book box feel
code adapted from: https://codemyui.com/comicbook-inspired-hand-drawn-borders/
*/
.box {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1200px;
  max-height: 650px;
  padding: 50px;
  background: #fff;
  border: solid black;
  border-color: black;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 20% 2% 95%/95% 4% 92% 2%;
  /* transform: rotate(-2deg);*/
}

.box2 {
  border-width: 5px 3px 4px 4px;
  border-radius: 8% 4% 97% 5%/4% 50% 3% 1%;
}

.white {
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

.brain {
  background-color: red;

}

.mapPath {
  paint-order: stroke fill;
  stroke-width: 1.8;
  stroke: black;
}

/* plot flow */
.rect-film {
  fill: none;
  stroke: black;
}
.film-title {
  fill: black;
  font-size: 9px;
  alignment-baseline: middle;
  text-anchor: middle;
  font-family: Roboto;
}
.arrow {
  stroke: black;
  fill: none;
}

/* character colors */
.iron-man {
  color: #E30022;
}
.black-widow {
  color: #000000;
}
.hulk {
  color: #A2CD48;
}